---
layout: default
type:   music
---

<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
<script type="text/javascript" src="audiojs/audio.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/application.js"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
      <h4>
        ロジカルオシレーター<br>
        1st full album 「Logical OSCillator」<br>
        2014年11月30日 Release!!
      </h4>
      <iframe width="100%"
              height="273"
              src="https://www.youtube.com/embed/tD4c1PuNgc0"
              frameborder="0" allowfullscreen>
      </iframe>
      <p>CD版 →
        <a href="http://www.amazon.co.jp/dp/B00PL01OPY">amazon</a>
        から購入
      </p>
      <p>ダウンロード版 →
        <a href="https://gum.co/GeHH">こちら</a>から購入<br>
        (Gumroadからのダウンロードになります)<br>
        wav形式.歌詞カード・アートワーク画像データ付き!!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
      <h4>試聴(30秒)</h4>
      アイコンをクリックすると再生が始まります
      {% include track.html index=1  name="オニオンリング・オーケストラ" %}
      {% include track.html index=2  name="E.S.O.T" %}
      {% include track.html index=3  name="ロックンロールミュージック" %}
      {% include track.html index=4  name="ファミリーコンピューター" %}
      {% include track.html index=5  name="チーズケーキ・ワルツ" %}
      {% include track.html index=6  name="Mr.Moony" %}
      {% include track.html index=7  name="クロマトグラフ" %}
      {% include track.html index=8  name="君はサラブレッド" %}
      {% include track.html index=9  name="ハローワーク ～職業安定所の歌～" %}
      {% include track.html index=10 name="エレベーターガール" %}
    </div>
  </div>
</div>
