body {
    background-color: #FFFFFF;
    margin-left:   0px;
    margin-top:    0px;
    margin-right:  0px;
    margin-bottom: 0px;
}
body,td,th {
    font-size:12px;
    color:#555555;
    line-height:150%;
    font-family:Verdana;
}

a:link    {text-decoration:underline; color:#000000;}
a:visited {text-decoration:underline; color:#000000;}
a:active  {text-decoration:underline; color:#000000;}
a:hover   {text-decoration:underline; color:#000000;}

.lin2 a:link    {color:#666666; text-decoration:none;}
.lin2 a:visited {color:#606060; text-decoration:none;}
.lin2 a:active  {color:#606060; text-decoration:underline;}
.lin2 a:hover   {color:#606060; text-decoration:underline;}

.color1 {background-color:#808080;}
.color2 {background-color:#FFFFFF;}
.color3 {background-color:#C0C0C0;}
.color4 {background-color:#E4E4E4;}

.text1     {
    font-size:24px;
    color:#C0C0C0;
    line-height:140%;
    font-family:Verdana;
    font-weight:bold;
}

.waku1 {
    border-color:#C0C0C0;
    border-width:1px;
    border-style:solid;
}

#trial-tracks {
}

.track-icon {
    display: table-cell;
    width: 32px;
    height: 32px;
    background-image: url("../images/track.jpg");
    text-align: center;
    vertical-align: middle;
}

.track-playing-icon {
    font-size: 24px;
}

.track-number-label {
    width: 30px;
    text-align: center;
}

@keyframes turn {
    0%   {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}
@-webkit-keyframes turn {
    0%   {-webkit-transform: rotateY(0deg);}
    100% {-webkit-transform: rotateY(360deg);}
}
@-moz-keyframes turn {
    0%   {-moz-transform: rotateY(0deg);}
    100% {-moz-transform: rotateY(360deg);}
}
@-o-keyframes turn {
    0%   {-o-transform: rotateY(0deg);}
    100% {-o-transform: rotateY(360deg);}
}
@-ms-keyframes turn {
    0%   {-ms-transform: rotateY(0deg);}
    100% {-ms-transform: rotateY(360deg);}
}

.playing-transition {
    animation-name:         turn;
    -webkit-animation-name: turn;
    -moz-animation-name:    turn;
    -o-animation-name:      turn;
    -ms-animation-name:     turn;

    animation-duration:             0.5s;
    -webkit-animation-duration:     0.5s;
    -moz-animation-iteration-count: 0.5s;
    -o-animation-iteration-count:   0.5s;
    -ms-animation-iteration-count:  0.5s;

    animation-iteration-count:         1;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count:    1;
    -o-animation-iteration-count:      1;
    -ms-animation-iteration-count:     1;
}
