body {
    background-color: #FFFFFF;
    margin-left:   0px;
    margin-top:    0px;
    margin-right:  0px;
    margin-bottom: 0px;
}
body,td,th {
    font-size:12px;
    color:#555555;
    line-height:150%;
    font-family:Verdana;
}

a:link    {text-decoration:underline; color:#000000;}
a:visited {text-decoration:underline; color:#000000;}
a:active  {text-decoration:underline; color:#000000;}
a:hover   {text-decoration:underline; color:#000000;}

.lin2 a:link    {color:#666666; text-decoration:none;}
.lin2 a:visited {color:#606060; text-decoration:none;}
.lin2 a:active  {color:#606060; text-decoration:underline;}
.lin2 a:hover   {color:#606060; text-decoration:underline;}

.color1 {background-color:#808080;}
.color2 {background-color:#FFFFFF;}
.color3 {background-color:#C0C0C0;}
.color4 {background-color:#E4E4E4;}

.text1     {
    font-size:24px;
    color:#C0C0C0;
    line-height:140%;
    font-family:Verdana;
    font-weight:bold;
}

.waku1 {
    border-color:#C0C0C0;
    border-width:1px;
    border-style:solid;
}

#songs {
  margin-top: 50px;
}
.download {
    font-size: 20px;
    margin-top: 30px;
}
.song {
  height: 60px;
  width: 800px;
  vertical-align: middle;
  text-align: left;
}
.song-title {
  margin: 10px;
  font-size: 18px;
}
.song-audition {
}
.gumroad-button {
  float: right;
}